{% extends 'header.html' %}
{% block body %}

<div class="container">
<div class="card mb-3" style="max-width: 640px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie_key.img.url}}"  class="img-fluid rounded-start" alt="..." width="300px" height="640px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie_key.mname}}</h5>
        <p class="card-text">{{movie_key.desc}}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>>



<a class="btn btn-warning" href="{% url 'movieapp:update' movie_key.id %}">Update</a>
<a class="btn btn-warning" href="{% url 'movieapp:delete' movie_key.id %}">Delete</a>
{% endblock %}