

{% extends 'header.html' %}
{% block body %}
<!--***************BODY*****************-->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
{% for i in moviekey %}
{{i.id}}-{{i.mname}}<br> <img src="{{i.img.url}}" width="100"><br>{{i.desc}}<br><span><span>
{% endfor %}
      </div>
</nav>
<a class ='btn btn-warning' href="add">ADD MOVIES</a>
<h2>Movies details  from link</h2>
{% for i in moviekey %}
<!--<a href="movies/{{i.id}}/">{{i.mname}}<br></a>-->
<a href="{% url 'movieapp:details1' i.id %}">{{i.mname}} </a><br>

{% endfor %}

<!--********************************-->
{% endblock %}


